@import "colors.css";
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, URW Gothic, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin: 2px 5px 2px 5px;
    color: @base00;
    border-radius: 4px 4px 4px 2px ;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
}

window#waybar.hidden {
    opacity: 0.2;
    color: @base00;
}

/*
window#waybar.empty {
    background-color: @base00;
}
window#waybar.solo {
    background-color: @base00;
}
*/

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: @base05;
}

#workspaces button {
    padding: 0 5px;
    background: rgba(0, 0, 0, 0);
}

#workspaces {
    background: rgba(0, 0, 0, 0);
}

#workspaces button.focused {
    border-bottom: solid @base00 1.5px;
    border-top: solid @base00 1.5px;
    border-left: solid @base00 2px;
    border-right: solid @base00 2px;
    margin-bottom: 3px;
}

#workspaces {
}

#mode {
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#window,
#workspaces button,
#keyboard-state,
#mpd{
    padding: 0 10px;
    border-bottom: solid @base00 3px;
    border-left: solid @base00 4px;
    border-top: none;
    border-right: none;
    background-color: @base0E;
    color: @base02;
    min-height: 19px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#network:hover,
#workspaces button:hover,
#clock:hover {
    background-color: @base05;
}

#bat
#custom-media {
    min-width: 100px;
}


#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#keyboard-state {
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background-color: @base05;
}
